<template>
    <div class="login">
        <v-form v-model="valid" ref="form" class="login-inner text-center">
            <span class="login-title">Вхід в адмін панель</span>
            <v-text-field
                v-model="login"
                :rules="rulesRequired"
                name="login"
                label="Логін"
            />
            <div class="login-group">
                <v-text-field
                    v-model="password"
                    :rules="rulesRequired"
                    :type="isShowPassword ? `text` : `password`"
                    class="input--theme-eye"
                    name="password"
                    label="Пароль"
                />
                <button
                    type="button"
                    @click="triggerShowPassword"
                    :class="[{'active': isShowPassword}, 'login-btn']"
                >
                    <v-icon color="grey">fa fa-eye</v-icon>
                </button>
            </div>
            <v-btn
                @click="validate"
                color="success"
                class="login-submit"
                dark
            >
                Увійти
            </v-btn>
        </v-form>
    </div>
</template>

<script>
export default {
    name: "Login",
    data: () => ({
        isShowPassword: false,
        valid: true,
        login: '',
        password: '',
        rulesRequired: [
            v => !!v || 'Поле обов\'язкове',
        ],
    }),
    methods: {
        validate () {
            this.$refs.form.validate()
            if(this.valid) {
                this.$router.push('/sliders')
            }
        },
        triggerShowPassword () {
            this.isShowPassword = !this.isShowPassword
        }
    }
}
</script>

<style lang="scss" scoped>
.login {
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    background-image: url(https://images.wallpaperscraft.ru/image/bmw_4_series_coupe_avto_93283_1920x1080.jpg);
    background-size: cover;
    &-inner {
        max-width: 340px;
        width: 100%;
        margin: 40px auto 0;
        background-color: rgba(255, 255, 255, .78);
        border-radius: 3px;
        padding: 40px 30px;
    }
    &-title {
        display: block;
        font-size: 16px;
        padding-bottom: 15px;
    }
    &-group {
        position: relative;
    }
    &-btn {
        position: absolute;
        top: 42%;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        width: 27px;
        height: 27px;
        padding: 0;
        background-color: transparent;
        &.active {
            .v-icon {
                color: #1976d2 !important;
            }
        }
    }
    &-submit {
        margin-top: 15px;
    }
}
</style>
