<template>
    <v-main>
        <div class="cnt">
            <v-alert type="success" :class="[{'success--active': alertSuccessSave}, 'cnt-success']">
                Оновлено успішно!
            </v-alert>
            <form @submit.prevent="submitCreateSlider" class="cnt-container">
                <bread-crumbs :breadcrumbs="breadcrumbs" />
                <div class="cnt-header">
                    <h1 class="title">Редагування слайдера</h1>
                    <v-switch
                        v-model="slider.viewed"
                        name="viewed"
                        label="Відображати"
                        color="success"
                        class="switch-reset"
                    />
                    <div class="cnt-panel">
                        <v-btn
                            type="submit"
                            color="success"
                            class="btn btn--theme-success btn--save"
                            dark
                        >
                            <v-icon>fas fa-save</v-icon>
                        </v-btn>
                    </div>
                </div>
                <div class="cnt-body">
                    <div class="form-create" v-for="(item, index) in slider.data" :key="index">
                        <div class="form-create-inner">
                            <v-text-field
                                :name="`link[${item.language}]`"
                                :value="item.link"
                                :prefix="item.language"
                                label="Посилання"
                            />
                            <v-text-field
                                :name="`alt[${item.language}]`"
                                :value="item.alt"
                                :prefix="item.language"
                                label="alt"
                            />
                            <v-text-field
                                :name="`title[${item.language}]`"
                                :value="item.title"
                                :prefix="item.language"
                                label="Підпис"
                            />
                            <div class="form-create-group">
                                <div class="form-create-select">
                                    <v-select
                                        :items="item.colors.options"
                                        :name="`color[${item.language}]`"
                                        :menu-props="{ offsetY: true }"
                                        v-model="item.colors.select"
                                        item-text="state"
                                        item-value="abbr"
                                        label="Колір підпису"
                                        persistent-hint
                                    />
                                </div>
                                <div class="form-create-select">
                                    <v-select
                                        :items="item.positions.options"
                                        :name="`align[${item.language}]`"
                                        :menu-props="{ offsetY: true }"
                                        v-model="item.positions.select"
                                        item-text="state"
                                        item-value="abbr"
                                        label="Розташування підпису"
                                        persistent-hint
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="form-create-pictures">
                            <download-picture
                                v-for="(picture, index) in item.pictures" :key="index"
                                :width="picture.ratio.width"
                                :height="picture.ratio.height"
                                :language="item.language"
                                :img="picture.img"
                                class="form-create-download"
                            />
                        </div>
                    </div>
                </div>
                <div class="cnt-buttons">
                    <v-btn @click="confirmDelete" color="error" dark>Видалити</v-btn>
                    <v-btn type="submit" color="success" dark>Зберегти</v-btn>
                </div>
            </form>
            <v-dialog v-model="isModalConfirmDelete" max-width="380">
                <modal-confirm-delete @confirm-delete="confirmDelete" />
            </v-dialog>
        </div>
    </v-main>
</template>

<script>
import { mapGetters } from 'vuex'
import BreadCrumbs from '@/components/BreadCrumbs'
import DownloadPicture from '@/components/DownloadPicture'
import ModalConfirmDelete from '@/pages/slider-create/modals/ConfirmDelete'

export default {
    name: 'SliderCreate',
    props: {
        id: String
    },
    data: () => ({
        isModalConfirmDelete: false,
        alertSuccessSave: false,
        breadcrumbs: [
            { text: 'Головна сторінка', disabled: true },
            { text: 'Слайди', disabled: false, href: '/sliders' },
            { text: 'Редагування слайда', disabled: true },
        ],
    }),
    computed: {
        ...mapGetters({
            slider: 'getDataSlider'
        })
    },
    methods: {
        submitCreateSlider (e) {
            const data = new FormData(e.target)
            if (!this.alertSuccessSave) {
                this.alertSuccessSave = true
                setTimeout(() => {
                    this.alertSuccessSave = false
                }, 2000)
            }
        },
        confirmDelete () {
            this.isModalConfirmDelete = !this.isModalConfirmDelete
        }
    },
    created () {
        if (Number(this.id) != NaN) { } else { }
    },
    components: {
        BreadCrumbs,
        DownloadPicture,
        ModalConfirmDelete
    }
}
</script>

<style lang="scss" scoped>
.switch-reset {
    margin-left: 30px;
}
.form-create {
    display: flex;
    flex-wrap: wrap;
    &:not(:last-of-type) {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #eee;
    }
    &-inner {
        width: 50%;
    }
    &-pictures {
        display: flex;
        flex-wrap: wrap;
        width: fit-content;
        padding-left: 100px;
        margin-left: auto;
    }
    &-download {
        &:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    &-group {
        display: flex;
        flex-wrap: wrap;
    }
    &-select {
        max-width: 180px;
        margin-right: 35px;
    }
}
</style>
