<template>
    <aside :class="['sidebar', {'sidebar-effect':effectOpen}, {'sidebar-show':toggleSidebar}]" v-click-outside="onHideSidebar">
        <div class="sidebar-header">
            <user-popup class="sidebar-user" />
            <v-btn @click="onTriggerNavbar" type="button" class="hamburger" dark>
                <span class="hamburger-line"></span>
            </v-btn>
        </div>
        <div class="sidebar-body navbar">
            <v-expansion-panels :dark="true" v-model="panels">
                <template v-for="(item, index) in menu">
                    <v-expansion-panel v-if="item.submenu" :key="index">
                        <v-expansion-panel-header>
                            <v-icon class="navbar-icon">{{item.icon}}</v-icon>
                            <span>{{item.name}}</span>
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <router-link
                                v-for="(link, index) in item.submenu"
                                :key="index"
                                :to="link.to"
                                :exact="link.exact"
                                class="navbar-drop-link"
                            >
                                {{link.name}}
                            </router-link>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                    <router-link
                        v-else
                        :key="index"
                        :to="item.to"
                        :exact="item.exact"
                        class="navbar-link"
                    >
                        <v-icon class="navbar-icon">{{item.icon}}</v-icon>
                        <span>{{item.name}}</span>
                    </router-link>
                </template>
            </v-expansion-panels>
        </div>
    </aside>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import ClickOutside from 'vue-click-outside'
import User from './User'
export default {
    name: 'Sidebar',
    data: () => ({
        panels: [],
        effectOpen: false
    }),
    computed: {
        ...mapGetters({
            menu: 'getNavbar',
            toggleSidebar: 'getToggleSidebar',
        })
    },
    methods: {
        ...mapMutations(['setToggleSidebar']),
        onTriggerNavbar () {
            this.setToggleSidebar()
            if(this.toggleSidebar) {
                this.panels = []
            } else {
                this.effectOpen = true
                setTimeout(() => {
                    this.effectOpen = false
                }, 100)
            }
        },
        onHideSidebar () {
            if(this.toggleSidebar) {
                this.panels = []
            }
        }
    },
    watch: {
        '$route' (to, from) {
            if(this.toggleSidebar) {
                this.panels = []
            }
        }
    },
    components: {
        'user-popup': User,
        ClickOutside
    }
}
</script>

<style lang="scss">
$active_background: #2b5378;
$active_color: white;
.navbar button span,
.navbar .v-expansion-panel-header
.navbar .v-expansion-panel-header__icon,
.navbar-link span,
.navbar-link,
.user,
.sidebar-body,
.sidebar-header,
.hamburger,
.navbar .navbar-drop-link,
.navbar .v-expansion-panel-content {
    transition: var(--sidebar-duration);
}
.navbar .v-expansion-panel--active .v-expansion-panel-content {
    left: 350px;
}
.sidebar-show {
    &.admin-sidebar {
        width: var(--sidebar-small-width);
    }
    .navbar-link,
    .navbar .v-expansion-panel-header {
        padding: 10px 6px 10px 18px;
    }
    .navbar button span,
    .navbar-link span {
        font-size: 0;
    }
    .navbar .v-expansion-panel-header__icon {
        transform: scale(0);
    }
    .user {
        opacity: 0;
        transform: scale(0.4);
        margin-left: -200px;
    }
    .sidebar-header {
        padding: 2px 9px;
    }
    .hamburger {
        margin-left: 0;
        transform: translateX(-2px);
    }
    .v-expansion-panel-content {
        height: 0 !important;
    }
    .v-expansion-panel--active {
        position: relative;
        .v-expansion-panel-content__wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .v-expansion-panel-content {
            position: absolute;
            top: 0;
            left: 54px;
            z-index: 10;
            width: 300px;
            min-height: 100%;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            height: auto !important;
            background-color: var(--base);
            animation: panel-content .3s;
            overflow: hidden;
            @keyframes panel-content {
                0% {
                    opacity: 0;
                    transform: translateX(10%);
                }
                100% {
                    opacity: 1;
                    transform: translateX(0%);
                }
            }
        }
    }
    .navbar button.v-expansion-panel-header--active {
        min-height: 48px;
    }
    .navbar .v-expansion-panel--active:not(:first-child),
    .navbar .v-expansion-panel--active + .v-expansion-panel,
    .navbar .v-expansion-panel--active + .link {
        margin: 0 !important;
    }
}
.sidebar-effect {
    .v-expansion-panel-content {
        min-width: var(--sidebar-width);
        opacity: 0;
    }
    .navbar-drop-link {
        opacity: 0;
        font-size: 0;
        transform: translateX(-100%);
        transition-duration: 0s;
    }
}
.sidebar {
    position: relative;
    z-index: 100;
    background-color: var(--base);
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px 10px 5px;
    }
    &-body {
        border-top: 1px solid #585d61;
    }
    &-user {
        width: fit-content;
    }
}
.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto !important;
    width: 33px;
    height: 30px !important;
    padding: 0 !important;
    border-radius: 4px;
    background-color: #3c5166 !important;
    z-index: 10;
    &:hover {
        .hamburger {
            &-line,
            &-line:before,
            &-line:after {
                background-color: white;
            }
        }
    }
    &-line,
    &-line:before,
    &-line:after {
        display: block;
        width: 13px;
        height: 2px;
        background-color: #e7ebee;
    }
    &-line {
        &:before, &:after {
            content: '';
            position: absolute;
        }
        &:before {
            top: 6px;
        }
        &:after {
            bottom: 6px;
        }
    }
}
.navbar {
    &-drop-link {
        display: block;
        padding: 10px 24px;
        color: white !important;
        &:hover {
            background-color: #476786;
        }
        &.router-link-active {
            background-color: $active_background;
            font-weight: 500;
            color: $active_color !important;
            pointer-events: none;
        }
    }
    &-link {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 48px;
        padding: 16px 24px;
        font-size: 14px;
        line-height: 1;
        outline: none;
        color: white !important;
        font-weight: 500;
        background-color: #3c5166;
        border-top: 1px solid #5c7185;
        &:hover {
            background-color: #476786;
        }
        .v-icon {
            max-width: 15px;
            width: 15px;
            height: 15px;
            font-size: 15px;
            transition-duration: 0s;
        }
        span {
            margin-left: 15px;
        }
        &.router-link-active {
            background-color: $active_background;
            font-weight: 500;
            color: $active_color !important;
            pointer-events: none;
            .theme--dark.v-icon {
                color: $active_color !important;
            }
        }
    }
    .v-expansion-panels {
        border-radius: 0;
    }
    .v-expansion-panel-header {
        padding: 16px 22px;
    }
    .theme--dark.v-expansion-panels .v-expansion-panel {
        background-color: #304b64;
    }
    .v-expansion-panel--active {
        &:not(:first-child),
        & + .v-expansion-panel,
        & + .link {
            margin-top: 8px;
        }
    }
    .v-expansion-panels:not(.v-expansion-panels--accordion):not(.v-expansion-panels--tile) {
        & > .v-expansion-panel--active,
        & > .v-expansion-panel--next-active,
        & > .v-expansion-panel--active + .v-expansion-panel {
            border-radius: 0;
        }
    }
    button {
        font-size: 15px;
        color: white;
        font-weight: 500;
        background-color: #3c5166;
        &.v-expansion-panel-header--active {
            min-height: 60px;
            background-color: #304b64;
        }
        .v-icon {
            max-width: 15px;
            width: 15px;
            height: 15px;
            font-size: 15px;
            &.fa-chevron-down {
                max-width: 11px;
                width: 11px;
                height: 11px;
                font-size: 11px !important;
            }
        }
        span {
            margin-left: 15px;
        }
    }
}
</style>
