<template>
    <div class="user">
        <div class="user-header" @click="toggleDropdownUser">
            <figure class="user-picture">
                <img src="https://s.abcnews.com/images/Lifestyle/ht_pudding_the_fox_04_mt_140821_16x9_384.jpg" alt="" class="user-img">
            </figure>
            <div class="user-body">
                <span class="user-company">Monopoland</span>
                <span class="user-caption">admin</span>
            </div>
        </div>
        <div class="user-dropdown" v-click-outside="toggleDropdownUser" v-if="isOpenPopupUser">
            <figure class="user-frame">
                <img src="https://s.abcnews.com/images/Lifestyle/ht_pudding_the_fox_04_mt_140821_16x9_384.jpg" alt="" class="user-img">
            </figure>
            <span class="user-name">admin</span>
            <div class="user-footer">
                <v-btn to="/" small class="user-exit">Вийти</v-btn>
            </div>
        </div>
    </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
    name: 'User',
    data: () => ({
        isOpenPopupUser: false,
    }),
    methods: {
        toggleDropdownUser (e) {
            this.isOpenPopupUser = !this.isOpenPopupUser
        }
    },
    mounted () {
        this.popupItem = this.$el
    },
    directives: {
        ClickOutside
    }
}
</script>

<style lang="scss" scoped>
.user {
    position: relative;
    &-header {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        border-radius: 3px;
        cursor: pointer;
        user-select: none;
        &:hover {
            background-color: rgba(255, 255, 255, .1);
        }
    }
    &-picture {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-body {
        display: inline-flex;
        flex-direction: column;
        padding-left: 12px;
    }
    &-company {
        font-size: 15px;
        font-weight: 500;
        color: white;
    }
    &-caption {
        font-size: 13px;
        color: #eee;
    }
    &-dropdown {
        position: absolute;
        left: 24px;
        top: calc(100% + 2px);
        padding: 15px 0px 0px;
        min-width: 190px;
        background-color: white;
        box-shadow: 1px 1px 4px #3c5166;
        border-radius: 3px;
        z-index: 100;
        &:before {
            content: '';
            position: absolute;
            top: -5px;
            left: 37px;
            width: 11px;
            height: 11px;
            transform: rotate(45deg);
            background-color: white;
        }
    }
    &-frame {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px;
    }
    &-name {
        display: block;
        width: 100%;
        font-size: 16px;
        text-align: center;
        margin-bottom: 5px;
    }
    &-footer {
        display: flex;
        padding: 6px 15px;
        border-top: 1px solid #eee;
    }
    &-exit {
        background-color: #1a2f44 !important;
        color: white !important;
        font-weight: 400 !important;
        margin-left: auto;
    }
}
</style>
