<template>
    <v-card class="confirm">
        <v-card-title class="headline">Ви впевнені?</v-card-title>
        <v-card-text>Дану дію буде неможливо відмінити!</v-card-text>
        <v-card-actions>
            <v-btn
                @click="confirmDelete"
                color="grey"
                outlined
                dark
            >
                Відмінити
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="error" dark>Видалити</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    name: 'ModalConfirmDelete',
    props: {
        auditModal: Boolean
    },
    methods: {
        confirmDelete () {
            this.$emit('confirm-delete')
        }
    }
}
</script>

<style lang="scss" scoped>

</style>