.btn {
    $tpl: '.btn';
    &--theme-icon,
    &--remove {
        #{$tpl} {
            &-icon {
                font-size: 13px !important;
                margin-right: 8px;
            }
            &-caption {
                padding-left: 8px;
            }
        }
    }
    &--theme-icon {
        #{$tpl} {
            &-caption {
                border-left: 1px solid #818f9e;
            }
        }
    }
    &--remove {
        #{$tpl} {
            &-caption {
                border-left: 1px solid #ffd3d3;
            }
        }
    }
    &--theme-success {
        min-width: 42px !important;
        padding: 0 !important;
    }
    &--save {
        position: fixed;
        right: 20px;
        top: 15px;
    }
}

.theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: rgba(0, 0, 0, 0.23) !important;
    color: white !important;
}
