.cnt {
    padding: 25px 30px 65px;
    &-container {
        max-width: 1100px;
    }
    &-header {
        display: flex;
        align-items: center;
        min-height: 52px;
        border-bottom: 1px solid #f6f6f6;
        padding: 0 0 15px;
    }
    &-panel {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: auto;
        .v-btn {
            &:not(:first-of-type) {
                margin-left: 10px;
            }
        }
    }
    &-body {
        padding-top: 20px;
    }
    &-success {
        position: fixed;
        width: 20%;
        bottom: 5px;
        right: -400px;
        z-index: 100000;
        opacity: 0;
        font-size: 16px;
        transition-duration: .4s;
        .v-icon.v-icon {
            font-size: 20px;
            margin-right: 10px;
        }
        &.success--active {
            right: 35px;
            opacity: 1;
        }
    }
    &-buttons {
        display: flex;
        align-items: center;
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #f8f8f8;
        .v-btn, .btn {
            &:first-of-type:last-of-type {
                margin-left: auto;
            }
            &:nth-of-type(2) {
                margin-left: auto;
            }
        }
    }
}

@include max(991px) {
    .cnt {
        padding: 20px 16px;
    }
}
