.v-application {
    h1.title {
        display: block;
        font-size: 25px !important;
        line-height: 1;
        font-weight: 500;
        color: #192f44;
    }
}

.subtitle {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #192f44;
}