.v-icon.v-icon { font-size: 16px; }

.v-expansion-panel-content__wrap { padding: 0; }

.input--theme-eye {
    input {
        padding-right: 33px !important;
    }
}

.v-input {
    textarea {
        resize: none;
        &::-webkit-scrollbar { width: 6px; }
        &::-webkit-scrollbar-track { background-color: #f1f1f1; }
        &::-webkit-scrollbar-thumb { background-color: #c9c9c9; }
    }
}

.v-application--is-ltr  {
    .v-text-field__prefix {
        padding-right: 12px;
    }
    .v-text-field {
        .v-label:not(.v-label--active) {
            color: #888;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: #d3d3d3;
}

.switch-reset {
    margin-top: 0;
    .v-input__slot { margin-bottom: 0; }
    .v-messages { display: none; }
    .v-label { padding-left: 5px; }
}

.v-dialog > .v-card.confirm > {
    $tpl: '.v-card';
    #{$tpl} {
        &__title {
            padding-bottom: 16px;
        }
        &__text {
            font-size: 15px;
        }
        &__actions {
            padding: 5px 24px 16px;
        }
    }
}

.checkbox,
.field {
    &-reset {
        padding: 0;
        margin: 0;
        .v-input__slot { margin-bottom: 0; }
        .v-messages,
        .v-text-field__details { display: none; }
    }
    &-centered {
        input {
            text-align: center;
        }
    }
}

.v-input {
    input {
        &::placeholder {
            font-size: 14px;
        }
    }
}

.v-menu__content {
    &::-webkit-scrollbar { width: 6px; }
    &::-webkit-scrollbar-track { background-color: #f1f1f1; }
    &::-webkit-scrollbar-thumb { background-color: #c9c9c9; }
}

.settings-form--cap {
    .v-input__prepend-outer {
        margin: 0;
    }
}