@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap';

body {
    margin: 10px 15px;
}

* {
    font-family: 'Roboto', sans-serif;
}

.wm-align-left {
    text-align: left;
}
.wm-align-right {
    text-align: right;
}
.wm-align-center {
    text-align: center;
}
.wm-align-justify {
    text-align: justify;
}

h1 {
    font-size: 26px;
    line-height: 32px;
}
h2 {
    font-size: 20px;
    line-height: 22px;
}
h3 {
    font-size: 18px;
    line-height: 22px;
}
h4 {
    font-size: 16px;
    line-height: 18px;
}
h5 {
    font-size: 14px;
    line-height: 16px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    margin-bottom: 20px;
    word-wrap: break-word;
}

p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    text-align: justify;
}

a {
    color: #374051;
    text-decoration: underline;
}

ul, ol {
    line-height: 20px;
    padding-left: 40px;
    margin-bottom: 15px;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

@media screen and (min-width: 360px) {
    p, ul, ol {
        font-size: 16px;
        line-height: 22px;
    }
    h1 {
        font-size: 28px;
        line-height: 30px;
    }
    h2 {
        font-size: 22px;
        line-height: 24px;
    }
    h3 {
        font-size: 20px;
        line-height: 24px;
    }
    h4 {
        font-size: 18px;
        line-height: 20px;
    }
    h5 {
        font-size: 16px;
        line-height: 18px;
    }
    h6 {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (min-width: 420px) {
    p, ul, ol {
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (min-width: 768px) {
    p, ul, ol {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (min-width: 992px) {
    img.wm-align-left {
        float: left;
    }
    img.wm-align-right {
        float: right;
    }
}

@media screen and (min-width: 1200px) {
    p, ul, ol {
        font-size: 18px;
        line-height: 26px;
    }
}

@media screen and (min-width: 1560px) {
    h1 {
        font-size: 30px;
        line-height: 32px;
    }
    h2 {
        font-size: 24px;
        line-height: 26px;
    }
    h3 {
        font-size: 22px;
        line-height: 24px;
    }
    h4 {
        font-size: 20px;
        line-height: 22px;
    }
    h5 {
        font-size: 18px;
        line-height: 20px;
    }
    h6 {
        font-size: 16px;
        line-height: 18px;
    }
}
