@function col($count, $margin: 0) {
    $calc_margin: (($margin * $count) - $margin) / $count;
    @return calc(100% / #{$count} - #{$calc_margin}px);
}

@function w($width, $window) {
    @return ($width * 100vw) / $window;
}

@mixin min($width) {
    @media screen and (min-width: #{$width}) {
        @content;
    }
}

@mixin max($width) {
    @media screen and (max-width: #{$width}) {
        @content;
    }
}