<template>
    <v-main>
        <div class="cnt">
            <bread-crumbs :breadcrumbs="breadcrumbs" />
            <div class="cnt-header">
                <h1 class="title">Слайдер на головній</h1>
                <div class="cnt-panel">
                    <v-btn
                        to="/slider/create"
                        color="var(--background-button)"
                        class="btn btn--theme-icon"
                        dark
                    >
                        <v-icon class="btn-icon">fas fa-plus</v-icon>
                        <span class="btn-caption">Додати</span>
                    </v-btn>
                </div>
            </div>
            <draggable
                v-model="sliders"
                @start="isDragging=true"
                @end="onEndSorting"
            >
                <transition-group type="transition" name="flip-list" class="cnt-body">
                    <card-picture
                        v-for="slider in sliders"
                        :key="slider.id"
                        :to="`/slider/${slider.id}`"
                        :img="slider.img"
                        class="cnt-item"
                    />
                </transition-group>
            </draggable>
        </div>
    </v-main>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Draggable from 'vuedraggable'
import BreadCrumbs from '@/components/BreadCrumbs'
import CardPicture from '@/components/CardPicture'

export default {
    name: 'Slider',
    data: () => ({
        isDragging: false,
        sliders: [],
        breadcrumbs: [
            { text: 'Головна сторінка', disabled: true },
            { text: 'Слайди', disabled: true },
        ]
    }),
    created () {
        this.sliders = this.slidersData
        this.$store.dispatch('getSlides')
    },
    computed: {
        ...mapGetters({
            slidersData: 'getListSlides'
        }),
    },
    methods: {
        onEndSorting () {
            this.isDragging = false
        }
    },
    components: {
        BreadCrumbs,
        CardPicture,
        Draggable
    }
}
</script>

<style lang="scss" scoped>
.cnt-body {
    display: flex;
    flex-wrap: wrap;
    .sortable-ghost {
        opacity: 0.1;
    }
}
.cnt-item {
    width: col(5);
    height: w(225, 1920);
    padding: 0px 5px;
    margin-bottom: 15px;
}
</style>
