<template>
    <v-main>
        <div class="cnt">
            <v-alert type="success" :class="[{'success--active': alertSuccessSave}, 'cnt-success']">
                Оновлено успішно!
            </v-alert>
            <div class="cnt-container">
                <bread-crumbs :breadcrumbs="breadcrumbs" />
                <div class="cnt-header">
                    <h1 class="title">Марки</h1>
                    <div class="cnt-panel">
                        <v-btn
                            type="submit"
                            color="success"
                            class="btn btn--theme-success btn--save"
                            dark
                        >
                            <v-icon>fas fa-save</v-icon>
                        </v-btn>
                    </div>
                </div>
                <div class="cnt-body">
                    Сторінка розробляється
                </div>
            </div>
        </div>
    </v-main>
</template>

<script>
import BreadCrumbs from '@/components/BreadCrumbs'
export default {
    name: 'Marks',
    props: {},
    data: () => ({
        alertSuccessSave: false,
        breadcrumbs: [
            { text: 'Авто', disabled: true },
            { text: 'Марки', disabled: true },
        ]
    }),
    components: {
        BreadCrumbs,
    }
}
</script>

<style lang="scss" scoped>

</style>
