<template>
    <v-main>
        <div class="cnt">
            <div class="cnt-container">
                <bread-crumbs :breadcrumbs="breadcrumbs" />
                <div class="cnt-header">
                    <h1 class="title">Текстові сторінки</h1>
                </div>
                <form class="cnt-body pages">
                    <v-autocomplete
                        :items="items"
                        :menu-props="{ offsetY: true }"
                        v-model="valuePage"
                        hide-details
                        sticky
                        item-text="name"
                        item-value="value"
                        label="Виберіть сторінку для редагування"
                        class="field-reset pages-form"
                    >
                        <template v-slot:no-data>
                            <v-list-item>
                                <v-list-item-title>Нічого не знайдено</v-list-item-title>
                            </v-list-item>
                        </template>
                        <template v-slot:item="{item}">
                            <v-list-item-content>
                                <v-list-item-title v-text="item.name"></v-list-item-title>
                            </v-list-item-content>
                        </template>
                    </v-autocomplete>
                    <v-btn
                        :to="`/page/${valuePage}`"
                        :disabled="!valuePage"
                        color="var(--background-button)"
                        dark
                    >
                        Редагувати
                    </v-btn>
                </form>
            </div>
        </div>
    </v-main>
</template>

<script>
import BreadCrumbs from '@/components/BreadCrumbs'
export default {
    name: 'Pages',
    data: () => ({
        breadcrumbs: [
            { text: 'Головна сторінка', disabled: true },
            { text: 'Текстові сторінки', disabled: true },
        ],
        items: [
            { value: '1', name: 'Про нас' },
            { value: '2', name: 'Як замовити' },
            { value: '3', name: 'Доставка' },
            { value: '4', name: 'Замовити запчастину' },
        ],
        valuePage: false
    }),
    components: {
        BreadCrumbs
    }
}
</script>

<style lang="scss" scoped>
.pages {
    display: flex;
    align-items: center;
    padding-top: 40px;
    &-form {
        width: 360px;
        flex: none;
        margin-right: 35px;
    }
}
</style>
