<template>
    <v-breadcrumbs :items="breadcrumbs" divider="/" class="breadcrumbs">
        <template v-slot:item="{item}">
            <v-breadcrumbs-item
                :to="item.href"
                :disabled="item.disabled"
            >
                {{ item.text }}
            </v-breadcrumbs-item>
        </template>
    </v-breadcrumbs>
</template>

<script>
export default {
    name: 'BreadCrumbs',
    props: {
        breadcrumbs: Array
    },
}
</script>

<style lang="scss" scoped>
.breadcrumbs {
    padding: 0 0 20px;
}
</style>