<template>
    <router-link :to="to" class="card-pctr">
        <figure class="card-pctr-frame">
            <img :src="img" alt="" class="card-pctr-img">
        </figure>
        <div class="card-pctr-footer">
            <span class="card-pctr-edit">
                <v-icon class="card-pctr-icon">fas fa-edit</v-icon>
                <span class="card-pctr-caption">редагувати</span>
            </span>
        </div>
    </router-link>
</template>

<script>
export default {
    name: 'CardPicture',
    props: {
        to: {
            default: '/',
            type: String,
        },
        img: {
            default: 'https://cdn.pixabay.com/photo/2018/07/23/19/32/abstract-3557682_960_720.jpg',
            type: String,
        },
    }
}
</script>

<style lang="scss" scoped>
.card-pctr {
    display: block;
    transition-duration: .45s;
    font-size: 0;
    &-frame {
        width: 100%;
        height: calc(100% - 40px);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: white;
        overflow: hidden;
    }
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-footer {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 15px;
        background-color: white;
        border: 1px solid #e5e5e5;
        border-top: none;
    }
    &-edit {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    &-caption,
    &-icon {
        color: #646464;
    }
    &-icon {
        font-size: 13px !important;
        margin-right: 8px;
    }
    &-caption {
        font-size: 15px;
    }
}
</style>
