<template>
    <v-expansion-panels multiple v-model="id">
        <v-expansion-panel>
            <v-expansion-panel-header disable-icon-rotate>
                <span class="subtitle">{{ title }}</span>
                <template v-slot:actions>
                    <v-icon color="#000" class="expansion-icon">
                        fa fa-angle-right
                    </v-icon>
                </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
                <slot name="content"></slot>
            </v-expansion-panel-content>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script>
export default {
    name: 'Collapse',
    props: {
        id: {
            type: Array,
            default: [0]
        },
        title: ''
    },
}
</script>

<style lang="scss" scoped>
.expansion-icon {
    transform: rotateX(0deg) rotate(90deg);
}
.v-expansion-panel {
    border-radius: 0px !important;
    border: 1px solid #ccc;
    &::before {
        display: none;
    }
    &--active {
        border-color: #eee;
    }
}
.v-expansion-panel-header {
    padding: 16px 20px 16px 15px;
    transition-duration: .25s;
}
.v-expansion-panel-header--active {
    min-height: 48px;
    background-color: #f8f8f8;
    .expansion-icon {
        transform: rotateX(180deg) rotate(90deg);
    }
}
.v-expansion-panel-content {
    border-top: 1px solid #ccc;
}
</style>