<template>
    <div :class="['download-picture', { 'download-picture--theme-empty': isPicture }]">
        <span class="download-picture__caption">
            <strong>{{ width }}</strong> х <strong>{{ height }}</strong>
        </span>
        <label class="download-picture__label">
            <input type="file" ref="file" @change="changePicture" class="download-picture__form">
            <span v-if="!isPicture" class="download-picture__picture">
                <img :src="picture" alt="" class="download-picture__image">
            </span>
            <span class="download-picture__effect">
                <v-icon>fas fa-camera</v-icon>
                <span class="download-picture__effect-caption">
                    {{ isPicture ? 'Завантажити' : 'Змінити' }}
                </span>
            </span>
        </label>
        <v-dialog
            v-model="modalCropperPicture"
            max-width="600"
            persistent
            content-class="dialog--cropper"
        >
            <v-card>
                <cropper
                    ref="cropper"
                    class="cropper"
                    :src="pictureCropperNew"
                    :stencil-props="{ aspectRatio: this.width/this.height }"
                />
                <v-card-actions>
                    <v-btn color="grey" text @click="outDialogCropper">Відмінити</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn color="green" text @click="onCropOrigin">Оригінал</v-btn>
                    <v-btn color="green" text @click="onCrop">Нарізати</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import { Cropper } from 'vue-advanced-cropper'
import { toBase64 } from '@/libs/toBase64'
import { base64ToBlob } from '@/libs/base64ToBlob'
export default {
    name: 'DownloadPicture',
    props: {
        img: String,
        width: Number,
        height: Number,
        language: String,
    },
    data: () => ({
        picture: '',
        pictureCropperNew: '',
        modalCropperPicture: false,
        isPicture: true,
        resetInputFile (input) {
            input.value = ''
            if (!/safari/i.test(navigator.userAgent)) {
                input.type = ''
                input.type = 'file'
            }
        },
        createInputFile ($this, blob) {
            const oldInputFile = $this.$el.querySelector('input.inputfile')
            oldInputFile !== null && oldInputFile.remove()
            const newInputFile = document.createElement('input')
            newInputFile.setAttribute('name', `files[${$this.language}]`)
            newInputFile.style.cssText = 'display:none'
            newInputFile.classList.add('inputfile')
            newInputFile.value = blob
            $this.$el.prepend(newInputFile)
        }
    }),
    methods: {
        changePicture (e) {
            toBase64(e).then(base64 => {
                this.pictureCropperNew = base64
                this.modalCropperPicture = true
            })
        },
        onCrop () {
            const { canvas } = this.$refs.cropper.getResult()
            if (canvas) {
                this.resetInputFile(this.$refs.file)
                this.picture = canvas.toDataURL()
                this.isPicture = false
                this.modalCropperPicture = false
                canvas.toBlob(blob => {
                    this.createInputFile(this, blob)
                }, 'image/jpeg')
            }
        },
        onCropOrigin () {
            this.resetInputFile(this.$refs.file)
            base64ToBlob(this.pictureCropperNew, 'image/jpeg').then(blob => {
                this.createInputFile(this, blob)
                this.picture = this.pictureCropperNew
                this.isPicture = false
                this.modalCropperPicture = false
            })
        },
        outDialogCropper () {
            this.resetInputFile(this.$refs.file)
            this.modalCropperPicture = false
        }
    },
    created () {
        this.picture = this.img
        if (this.img !== undefined && this.img.length) this.isPicture = false
    },
    components: {
        Cropper
    }
}
</script>

<style lang="scss" scoped>
.cropper {
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.download-picture {
    user-select: none;
    &--theme-empty {
        $tpl: '.download-picture';
        #{$tpl} {
            &__effect {
                opacity: 1;
                background-color: white;
                .v-icon,
                &-caption {
                    transform: translateY(0);
                    opacity: 1;
                }
                .v-icon {
                    color: #b5b5b5;
                }
            }
        }
    }
    &__caption {
        display: block;
        font-size: 13px;
        font-weight: 300;
        margin-bottom: 1px;
        strong {
            font-size: 15px;
            font-weight: 500;
        }
    }
    &__label {
        display: block;
        width: 200px;
        height: 200px;
        position: relative;
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        border: 1px solid #e7e7ee;
        &:hover {
            $tpl: '.download-picture';
            #{$tpl} {
                &__effect {
                    opacity: 1;
                    .v-icon,
                    &-caption {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
    &__form {
        display: none;
    }
    &__picture {
        width: 100%;
        height: 100%;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__effect {
        position: absolute; top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 15px;
        background-color: rgba(255, 255, 255, .7);
        opacity: 0;
        transition-duration: .35s;
        .v-icon {
            font-size: 36px;
            margin-bottom: 8px;
            opacity: 0;
            transform: translateY(-20px);
            transition-duration: .3s;
        }
        &-caption {
            opacity: 0;
            transform: translateY(10px);
            transition-duration: .3s;
        }
    }
}
</style>
