<template>
    <editor
        api-key="no-api-key"
        :value="value"
        :name="`text[${language}]`"
        :init="settingsEditor"
    />
</template>

<script>
import Editor from '@tinymce/tinymce-vue'
export default {
    props: {
        value: String,
        language: {
            type: String,
            default: 'ua'
        }
    },
    data: () => ({
        settingsEditor: {
            language: 'uk',
            height: 600,
            extended_valid_elements: `b,i,b/strong, i/em`,
            file_picker_types: `image`,
            button_tile_map: true,
            paste_as_text: true,
            image_title: true,
            automatic_uploads: true,
            convert_urls: false,
            statusbar: false,
            menubar: false,
            content_css: [`${process.env.BASE_URL}css/editor.css`],
            formats: {
                underline: { inline: 'u', classes: 'wm-text-underline'},
                alignleft: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'wm-align-left'},
                aligncenter: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'wm-align-center'},
                alignright: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'wm-align-right'},
                alignjustify: { selector: 'p,h1,h2,h3,h4,h5,h6,td,th,div,ul,ol,li,table,img', classes: 'wm-align-justify'},
            },
            plugins: `advlist autolink link image lists code paste preview fullscreen`,
            toolbar: `
                bold italic underline | formatselect |
                alignleft aligncenter alignright alignjustify |
                bullist numlist link image code |
                preview fullscreen`
            ,
            block_formats: `
                Параграф=p; Заголовок рівня 1=h1;
                Заголовок рівня 2=h2; Заголовок рівня 3=h3;
                Заголовок рівня 4=h4; Заголовок рівня 5=h5;
                Заголовок рівня 6=h6;`
            ,
        }
    }),
    components: {
        Editor
    }
}
</script>

<style lang="scss">
    .tox-notifications-container { display: none; }
    .tox .tox-tbtn {
        cursor: pointer;
        svg {
            width: auto;
            height: auto;
        }
    }
</style>
