<template>
    <v-main>
        <div class="cnt">
            <v-alert type="success" :class="[{'success--active': alertSuccessSave}, 'cnt-success']">
                Оновлено успішно!
            </v-alert>
            <form class="cnt-container" @submit.prevent="submitPage">
                <bread-crumbs :breadcrumbs="breadcrumbs" />
                <div class="cnt-header">
                    <h1 class="title">Текстові сторінки</h1>
                    <div class="cnt-panel">
                        <v-btn
                            type="submit"
                            color="success"
                            class="btn btn--theme-success btn--save"
                            dark
                        >
                            <v-icon>fas fa-save</v-icon>
                        </v-btn>
                    </div>
                </div>
                <div class="cnt-body page">
                    <div class="page-tags">
                        <collapse :id="collapseList.metaTags" title="Мета-теги">
                            <template v-slot:content>
                                <div class="page-tags-content">
                                    <div class="page-tags-row">
                                        <v-text-field
                                            v-for="item in 2"
                                            :key="item"
                                            prefix="ru"
                                            label="h1"
                                            class="page-tags-field"
                                        />
                                    </div>
                                    <div class="page-tags-row">
                                        <v-textarea
                                            v-for="item in 2"
                                            :key="item"
                                            prefix="ru"
                                            label="Title"
                                            no-resize
                                            rows="2"
                                            class="page-tags-field"
                                        />
                                    </div>
                                    <div class="page-tags-row">
                                        <v-textarea
                                            v-for="item in 2"
                                            :key="item"
                                            prefix="ru"
                                            label="Description"
                                            no-resize
                                            rows="5"
                                            class="page-tags-field"
                                        />
                                    </div>
                                </div>
                            </template>
                        </collapse>
                    </div>
                    <div class="page-tabs">
                        <collapse :id="collapseList.editor" title="Опис">
                            <template v-slot:content>
                                <v-tabs right v-model="tab">
                                    <v-tab v-for="(tab, index) in tabs" :key="index">{{ tab.text }}</v-tab>
                                </v-tabs>
                                <v-tabs-items v-model="tab">
                                    <v-tab-item v-for="(tab, index) in tabs" :key="index">
                                        <editor class="editor--theme-shadow" :value="tab.value" :language="tab.language" />
                                    </v-tab-item>
                                </v-tabs-items>
                            </template>
                        </collapse>
                    </div>
                </div>
            </form>
        </div>
    </v-main>
</template>

<script>
import BreadCrumbs from '@/components/BreadCrumbs'
import Editor from '@/components/Editor'
import Collapse from '@/components/Collapse'
export default {
    name: 'Page',
    props: {
        id: String
    },
    data: () => ({
        breadcrumbs: [
            { text: 'Головна сторінка', disabled: true },
            { text: 'Текстові сторінки', disabled: false, href: '/pages' },
            { text: '', disabled: true, },
        ],
        collapseList: {
            editor: [0],
            metaTags: [0],
        },
        pages: [
            { value: '1', name: 'Про нас' },
            { value: '2', name: 'Як замовити' },
            { value: '3', name: 'Доставка' },
            { value: '4', name: 'Замовити запчастину' },
        ],
        alertSuccessSave: false,
        tab: null,
        tabs: [
            {
                language: 'ua',
                text: 'ua',
                value: `
                    <h2>Привіт UA!</h2>
                    <p>It's Editor</p>
                `
            },
            {
                language: 'ru',
                text: 'ru',
                value: `
                    <h2>Привіт RU!</h2>
                    <p>It's Editor</p>
                `
            },
        ],
    }),
    created () {
        this.pages.map(page => {
            if(page.value == this.id) {
                this.breadcrumbs[this.breadcrumbs.length - 1].text = page.name
            }
        })
    },
    methods: {
        submitPage () {
            if (!this.alertSuccessSave) {
                this.alertSuccessSave = true
                setTimeout(() => {
                    this.alertSuccessSave = false
                }, 2000)
            }
        },
    },
    components: {
        BreadCrumbs,
        Editor,
        Collapse,
    }
}
</script>

<style lang="scss" scoped>
.page {
    &-tags {
        margin-bottom: 15px;
        &-content {
            padding: 10px 15px;
        }
        &-row {
            display: flex;
            flex-wrap: wrap;
        }
        &-field {
            width: col(2, 45);
            margin-right: 45px;
            &:nth-of-type(2n) {
                margin-right: 0px;
            }
        }
    }
}
.v-tabs {
    border-bottom: 1px solid #ccc;
}
.v-tabs-items {
    height: 600px;
}
</style>
