<template>
    <main-content />
</template>

<script>
import MainContent from '@/layouts/MainContent'
export default {
    name: 'App',
    data: () => ({}),
    components: {
        MainContent
    }
};
</script>

<style lang="scss">

</style>
