<template>
    <v-main>
        <div class="cnt">
            <div class="cnt-container">
                <div class="cnt-header">
                    <h1 class="title">Реєстр замовлень</h1>
                </div>
                <div class="cnt-body">
                    Сторінка розробляється
                </div>
            </div>
        </div>
    </v-main>
</template>

<script>
export default {
    name: 'Marks',
    props: {},
    data: () => ({}),
    components: {

    }
}
</script>

<style lang="scss" scoped>

</style>
