<template>
    <v-main>
        <div class="cnt">
            <v-alert type="success" :class="[{'success--active': alertSuccessSave}, 'cnt-success']">
                Оновлено успішно!
            </v-alert>
            <form action="#" @submit.prevent="onSubmitTabs" class="cnt-container">
                <bread-crumbs :breadcrumbs="breadcrumbs" />
                <div class="cnt-header">
                    <h1 class="title">Таби категорій</h1>
                    <div class="cnt-panel">
                        <v-btn
                            type="submit"
                            color="success"
                            class="btn btn--theme-success btn--save"
                            dark
                        >
                            <v-icon>fas fa-save</v-icon>
                        </v-btn>
                    </div>
                </div>
                <div class="cnt-body table">
                    <div class="table-header">
                        <div class="table-row table-row--checkbox"></div>
                        <div class="table-row table-row--nameru">
                            <span class="table-caption">Назва (ru)</span>
                        </div>
                        <div class="table-row table-row--nameua">
                            <span class="table-caption">Назва (ua)</span>
                        </div>
                        <div class="table-row table-row--search">
                            <span class="table-caption">Пошукова фраза (pl)</span>
                        </div>
                    </div>
                    <div class="table-item" v-for="(item, index) in 6" :key="index">
                        <div class="table-row table-row--checkbox">
                            <v-checkbox color="success" class="checkbox-reset" />
                        </div>
                        <div class="table-row table-row--nameru">
                            <v-text-field
                                :name="`name[ru]`"
                                class="field-reset"
                                placeholder="Фары"
                            />
                        </div>
                        <div class="table-row table-row--nameua">
                            <v-text-field
                                :name="`name[ua]`"
                                class="field-reset"
                                placeholder="Фари"
                            />
                        </div>
                        <div class="table-row table-row--search">
                            <v-text-field
                                :name="`name[pl]`"
                                class="field-reset"
                                placeholder="audi bmw"
                            />
                        </div>
                    </div>
                </div>
                <div class="cnt-buttons">
                    <v-btn type="submit" color="success" dark>Зберегти</v-btn>
                </div>
            </form>
        </div>
    </v-main>
</template>

<script>
import BreadCrumbs from '@/components/BreadCrumbs'
export default {
    name: 'TabsCategories',
    data: () => ({
        breadcrumbs: [
            { text: 'Головна сторінка', disabled: true },
            { text: 'Таби категорій', disabled: true },
        ],
        alertSuccessSave: false,
    }),
    methods: {
        onSubmitTabs (e) {
            if (!this.alertSuccessSave) {
                this.alertSuccessSave = true
                setTimeout(() => {
                    this.alertSuccessSave = false
                }, 2000)
            }
        }
    },
    components: {
        BreadCrumbs,
    }
}
</script>

<style lang="scss" scoped>
$sizes:
    'checkbox' 60px,
    'nameru' calc(100% / 3 - 60px / 3 - 60px / 3) 30px,
    'nameua' calc(100% / 3 - 60px / 3 - 60px / 3) 30px,
    'search' calc(100% / 3 - 60px / 3 - 60px / 3) 0px
;
.table {
    &-header,
    &-item {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &-header {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 15px;
        background-color: #eee;
        border-radius: 4px;
    }
    &-caption {
        font-size: 14px;
        font-weight: 600;
    }
    &-item {
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
    }
    &-row {
        @each $modifier, $size, $margin in $sizes {
            &--#{$modifier} {
                width: $size;
                @if $margin {
                    margin-right: $margin;
                }
            }
        }
    }
}
</style>
