<template>
    <v-app>
        <div :class="['admin', {'admin--login': !isLogin}]">
            <sidebar v-if="isLogin" class="admin-sidebar" />
            <router-view :class="['admin-main', {'admin-main--show': toggleSidebar}]" />
        </div>
    </v-app>
</template>

<script>
import { mapGetters } from 'vuex'
import Sidebar from '@/layouts/Sidebar/Sidebar'
export default {
    name: 'App',
    data: () => ({
        isLogin: true,
        isLoginRouter () {
            this.isLogin = this.$router.history.current.name == 'Login' ? false : true
        }
    }),
    beforeUpdate () {
        this.isLoginRouter()
    },
    created () {
        this.isLoginRouter()
    },
    computed: {
        ...mapGetters({
            toggleSidebar: 'getToggleSidebar',
        })
    },
    components: {
        Sidebar
    }
};
</script>

<style lang="scss">
.admin {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    &-sidebar,
    &-main {
        transition: var(--sidebar-duration) !important;
    }
    &-sidebar {
        position: fixed;
        left: 0;
        top: 0;
        width: var(--sidebar-width);
        height: 100%;
    }
    &-main {
        width: calc(100% - var(--sidebar-width));
        margin-left: var(--sidebar-width);
        flex: none !important;
        &--show {
            margin-left: var(--sidebar-small-width);
        }
    }
    &--login &-main {
        width: 100%;
        margin-left: 0;
    }
}
</style>
