<template>
    <v-main>
        <div class="cnt">
            <v-alert type="success" :class="[{'success--active': alertSuccessSave}, 'cnt-success']">
                Оновлено успішно!
            </v-alert>
            <form @submit.prevent="submitForm" class="cnt-container">
                <div class="cnt-header">
                    <h1 class="title">Налаштування</h1>
                    <div class="cnt-panel">
                        <v-btn
                            type="submit"
                            color="success"
                            class="btn btn--theme-success btn--save"
                            dark
                        >
                            <v-icon>fas fa-save</v-icon>
                        </v-btn>
                    </div>
                </div>
                <div class="cnt-body settings">
                    <div class="settings-row">
                        <span class="settings-title">Номери телефонів :</span>
                        <v-text-field
                            v-for="index in 4"
                            :key="index"
                            v-model="numbers[index]"
                            v-mask="'(###) ###-##-##'"
                            inputmode="numeric"
                            placeholder="(099) 999-99-99"
                            class="settings-form settings-form--number field-reset"
                        />
                    </div>
                    <div class="settings-row">
                        <div class="settings-inner settings-inner--email">
                            <span class="settings-title">E-mail :</span>
                            <v-text-field
                                type="email"
                                prefix="@"
                                placeholder="admin@admin.com.ua"
                                class="settings-form field-reset"
                            />
                        </div>
                        <div class="settings-inner settings-inner--hotline">
                            <span class="settings-title">Телефон гарячої лінії :</span>
                            <v-text-field
                                v-model="hotline"
                                v-mask="'# ### ## ####'"
                                inputmode="numeric"
                                placeholder="0 800 99 9999"
                                class="settings-form field-reset"
                            />
                        </div>
                    </div>
                    <div class="settings-row">
                        <span class="settings-title">Адреса (локація) :</span>
                        <div class="settings-inner settings-inner--address">
                            <v-text-field
                                prefix="ru"
                                placeholder="Введіть адресу (ru)"
                                class="settings-form field-reset"
                            />
                        </div>
                        <div class="settings-inner settings-inner--address">
                            <v-text-field
                                prefix="ua"
                                placeholder="Введіть адресу (ua)"
                                class="settings-form field-reset"
                            />
                        </div>
                    </div>
                    <div class="settings-row">
                        <span class="settings-title">Соціальні мережі :</span>
                        <div class="settings-inner settings-inner--social">
                            <v-text-field
                                placeholder="Введіть посилання"
                                class="settings-form settings-form--cap field-reset"
                            >
                                <template v-slot:prepend>
                                    <div class="settings-icon settings-icon--facebook">
                                        <svg><use :xlink:href="icons.facebook.url" /></svg>
                                    </div>
                                </template>
                            </v-text-field>
                        </div>
                        <div class="settings-inner settings-inner--social">
                            <v-text-field
                                placeholder="Введіть посилання"
                                class="settings-form settings-form--cap field-reset"
                            >
                                <template v-slot:prepend>
                                    <div class="settings-icon settings-icon--instagram">
                                        <svg><use :xlink:href="icons.instagram.url" /></svg>
                                    </div>
                                </template>
                            </v-text-field>
                        </div>
                        <div class="settings-inner settings-inner--social">
                            <v-text-field
                                placeholder="Введіть посилання"
                                class="settings-form settings-form--cap field-reset"
                            >
                                <template v-slot:prepend>
                                    <div class="settings-icon settings-icon--youtube">
                                        <svg><use :xlink:href="icons.youtube.url" /></svg>
                                    </div>
                                </template>
                            </v-text-field>
                        </div>
                    </div>
                    <div class="settings-row">
                        <span class="settings-title">Месенджери :</span>
                        <div class="settings-inner settings-inner--social">
                            <v-text-field
                                title="Viber"
                                placeholder="0999999999"
                                class="settings-form settings-form--cap field-reset"
                            >
                                <template v-slot:prepend>
                                    <div class="settings-icon settings-icon--viber">
                                        <svg><use :xlink:href="icons.viber.url" /></svg>
                                    </div>
                                </template>
                            </v-text-field>
                        </div>
                        <div class="settings-inner settings-inner--social">
                            <v-text-field
                                title="Telegram"
                                placeholder="tg://resolve?domain=Admin"
                                class="settings-form settings-form--cap field-reset"
                            >
                                <template v-slot:prepend>
                                    <div class="settings-icon settings-icon--telegram">
                                        <svg><use :xlink:href="icons.telegram.url" /></svg>
                                    </div>
                                </template>
                            </v-text-field>
                        </div>
                        <div class="settings-inner settings-inner--social">
                            <v-text-field
                                title="Whatsapp"
                                placeholder="0999999999"
                                class="settings-form settings-form--cap field-reset"
                            >
                                <template v-slot:prepend>
                                    <div class="settings-icon settings-icon--whatsapp">
                                        <svg><use :xlink:href="icons.whatsapp.url" /></svg>
                                    </div>
                                </template>
                            </v-text-field>
                        </div>
                    </div>
                    <div class="settings-row">
                        <div class="settings-time">
                            <span class="settings-time-title">Пн-Пт</span>
                            <div class="settings-time-group">
                                <span class="settings-time-caption">з</span>
                                <v-text-field
                                    v-model="times[0]"
                                    v-mask="'##:##'"
                                    inputmode="numeric"
                                    placeholder="00:00"
                                    class="settings-time-input field-centered field-reset"
                                />
                                <span class="settings-time-caption">по</span>
                                <v-text-field
                                    v-model="times[1]"
                                    v-mask="'##:##'"
                                    inputmode="numeric"
                                    placeholder="00:00"
                                    class="settings-time-input field-centered field-reset"
                                />
                            </div>
                        </div>
                        <div class="settings-time">
                            <span class="settings-time-title">Сб</span>
                            <div class="settings-time-group">
                                <span class="settings-time-caption">з</span>
                                <v-text-field
                                    v-model="times[2]"
                                    v-mask="'##:##'"
                                    inputmode="numeric"
                                    placeholder="00:00"
                                    class="settings-time-input field-centered field-reset"
                                />
                                <span class="settings-time-caption">по</span>
                                <v-text-field
                                    v-model="times[3]"
                                    v-mask="'##:##'"
                                    inputmode="numeric"
                                    placeholder="00:00"
                                    class="settings-time-input field-centered field-reset"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="settings-row">
                        <div class="settings-other">
                            <span class="settings-other-title">К-сть товарів на сторінці :</span>
                            <v-text-field
                                v-model="count_card[0]"
                                v-mask="'##'"
                                inputmode="numeric"
                                placeholder="15"
                                class="settings-time-input field-centered field-reset"
                            />
                        </div>
                        <div class="settings-other">
                            <span class="settings-other-title">К-сть новин на сторінці :</span>
                            <v-text-field
                                v-model="count_card[1]"
                                v-mask="'##'"
                                inputmode="numeric"
                                placeholder="15"
                                class="settings-time-input field-centered field-reset"
                            />
                        </div>
                    </div>
                    <div class="settings-row">
                        <div class="settings-other">
                            <span class="settings-other-title">Відображення binotel :</span>
                            <v-switch
                                v-model="binotel"
                                color="success"
                                class="switch-reset settings-other-switch"
                            />
                        </div>
                    </div>
                </div>
                <div class="cnt-buttons">
                    <v-btn type="submit" color="success" dark>Зберегти</v-btn>
                </div>
            </form>
        </div>
    </v-main>
</template>

<script>
import facebook from '@/assets/icons/facebook.svg'
import instagram from '@/assets/icons/instagram.svg'
import youtube from '@/assets/icons/youtube.svg'
import viber from '@/assets/icons/viber.svg'
import telegram from '@/assets/icons/telegram.svg'
import whatsapp from '@/assets/icons/whatsapp.svg'
export default {
    name: 'Settings',
    props: {},
    data: () => ({
        numbers: [],
        times: [],
        count_card: [],
        hotline: '',
        binotel: false,
        alertSuccessSave: false,
        icons: {}
    }),
    created () {
        this.icons.facebook = facebook
        this.icons.instagram = instagram
        this.icons.youtube = youtube
        this.icons.viber = viber
        this.icons.telegram = telegram
        this.icons.whatsapp = whatsapp
    },
    methods: {
        submitForm () {
            if (!this.alertSuccessSave) {
                this.alertSuccessSave = true
                setTimeout(() => {
                    this.alertSuccessSave = false
                }, 2000)
            }
        }
    },
    components: {}
}
</script>

<style lang="scss" scoped>
.settings {
    &-row {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 30px;
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
    }
    &-inner {
        width: 100%;
        &--email {
            width: 25%;
            margin-right: 25px;
        }
        &--hotline {
            width: 17%;
        }
        &--address {
            width: col(2, 25);
            margin-right: 25px;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }
        &--social {
            width: col(3, 25);
            margin-right: 25px;
            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }
    &-title {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        font-size: 16px;
    }
    &-form {
        width: 100%;
        flex: none;
        &--number {
            width: col(6, 25);
            margin-right: 25px;
            &:nth-of-type(4n) {
                margin-right: 0;
            }
        }
    }
    &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        margin-right: 8px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        svg {
            width: 60%;
            height: 60%;
            fill: white;
        }
        &--facebook { background-color: #3b5998; }
        &--instagram { background-image: linear-gradient(-159deg,#8a16cf,#ff1687 50%,#fffc00); }
        &--youtube { background-color: #dd4b39; }
        &--viber { background-color: #774e98; }
        &--telegram { background-color: #20a0e1; }
        &--whatsapp { background-color: #20d466; }
    }
    &-time {
        display: flex;
        align-items: center;
        width: 100%;
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
        &-title {
            display: block;
            width: 120px;
            font-size: 16px;
        }
        &-caption {
            display: inline-block;
            font-size: 16px;
            margin: 0 16px;
        }
        &-group {
            display: flex;
            align-items: center;
        }
        &-input {
            width: 80px;
            flex: none;
            input {
                text-align: center;
            }
        }
    }
    &-other {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        width: 40%;
        &-title {
            font-size: 16px;
            margin-right: 10px;
            width: 220px;
        }
        &-switch {
            width: fit-content;
        }
    }
}
</style>
